@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/lato.regular.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/lato.bold.ttf");
}
@font-face {
  font-family: "LatoHeavy";
  src: url("../fonts/lato.heavy.ttf");
}
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/lato.italic.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/lato.light.ttf");
}
@font-face {
  font-family: "LatoMedium";
  src: url("../fonts/lato.medium.ttf");
}
@font-face {
  font-family: "Bernadette";
  src: url("../fonts/bernadette.ttf");
}
.navbar {
  background-color: transparent;
}
.navbar .container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .navbar .container-fluid {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.navbar .container-fluid a, .navbar .container-fluid h1, .navbar .container-fluid li {
  color: white !important;
}
.navbar .container-fluid .navbar-brand {
  font-family: LatoHeavy;
  text-transform: lowercase;
}
.navbar .container-fluid .navbar-brand span {
  color: #fba419;
  font-size: 70px;
  line-height: 0px;
}
.navbar .container-fluid .navbar-nav {
  width: 100% !important;
}
@media only screen and (min-width: 992px) {
  .navbar .container-fluid .navbar-nav {
    width: 80% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar .container-fluid .navbar-nav {
    width: 70% !important;
  }
}
@media only screen and (min-width: 1400px) {
  .navbar .container-fluid .navbar-nav {
    width: 60% !important;
  }
}
.navbar .container-fluid .navbar-nav .nav-item {
  text-align: center;
}

#main .container .wrapper {
  text-align: center;
}
#main .container .wrapper h1, #main .container .wrapper h6, #main .container .wrapper .para, #main .container .wrapper .para_bold {
  color: white;
}
#main .container .wrapper .section_dis {
  font-family: LatoBold;
  font-size: 3rem;
  text-transform: capitalize;
}
#main .container .wrapper .btn_wrapper {
  margin-top: 80px;
}
#main .container .wrapper .btn_wrapper .btn {
  background-image: initial;
  background-color: white;
  color: black;
}
#main .container .wrapper .btn_wrapper .btn:hover {
  color: black !important;
}

#article_list .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
#article_list .container .list {
  cursor: pointer;
  width: 100%;
}
#article_list .container .list h2,
#article_list .container .list p {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #article_list .container .list {
    width: 31.5%;
  }
}
#article_list .container .list .card-title {
  font-family: LatoBold;
  font-size: a;
  text-transform: capitalize;
}
#article_list .container .list .btn_wrapper {
  margin-top: 60px;
}
#article_list .container .list .btn_wrapper .btn {
  margin-bottom: -25px;
  background-image: linear-gradient(to right, #fba419 0%, #2844bd 100%);
}

#we_are_creative {
  background: url("../img/A_letter.png") no-repeat center bottom;
  background-size: 450px;
  background-position: center center;
}
@media only screen and (min-width: 992px) {
  #we_are_creative {
    background-size: 600px;
    background-position: center bottom;
  }
}
#we_are_creative .container {
  padding-bottom: 65px;
}
#we_are_creative .container .para, #we_are_creative .container .para_bold,
#we_are_creative .container .section_heading {
  mix-blend-mode: difference;
  color: white;
}
@media only screen and (min-width: 992px) {
  #we_are_creative .container .para, #we_are_creative .container .para_bold,
#we_are_creative .container .section_heading {
    mix-blend-mode: initial;
    color: #212529;
  }
}
#we_are_creative .container .comment {
  margin-top: 65px;
}
@media only screen and (min-width: 992px) {
  #we_are_creative .container .comment {
    margin-top: 0px;
  }
}

#amazing_beauties .container {
  position: relative;
}
#amazing_beauties .container .row {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
@media only screen and (min-width: 768px) {
  #amazing_beauties .container .row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
  }
}
#amazing_beauties .container .row div {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 15px;
}
#amazing_beauties .container .row div img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#amazing_beauties .container .text_over {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  top: 545px;
  left: 13%;
  transition: box-shadow 0.6s ease-out;
  cursor: pointer;
}
#amazing_beauties .container .text_over:hover {
  box-shadow: 10px 10px 50px #00000094, -10px -10px 50px #00000094;
}
@media only screen and (min-width: 576px) {
  #amazing_beauties .container .text_over {
    position: absolute;
    left: 13%;
    width: 80%;
    top: 160px;
    left: 10%;
  }
}
@media only screen and (min-width: 992px) {
  #amazing_beauties .container .text_over {
    width: 75%;
    left: 12.5%;
    top: 220px;
  }
}
@media only screen and (min-width: 1200px) {
  #amazing_beauties .container .text_over {
    top: 340px;
    width: 65%;
    left: 18%;
  }
}
@media only screen and (min-width: 1400px) {
  #amazing_beauties .container .text_over {
    top: 430px;
  }
}
#amazing_beauties .container .text_over .text_container {
  text-align: center;
}
#amazing_beauties .container .text_over .text_container .section_heading {
  text-align: center;
}
#amazing_beauties .container .text_over .text_container .btn_wrapper {
  margin-top: 40px;
}
@media only screen and (min-width: 1200px) {
  #amazing_beauties .container .text_over .text_container .btn_wrapper {
    margin-top: 75px;
  }
}

#head_main_wrapper {
  background-image: linear-gradient(145deg, #fba419 0%, #2844bd 100%);
}

a {
  font-family: LatoBold;
  text-transform: uppercase;
  font-size: 1rem;
}

.section_heading {
  font-family: Bernadette;
  font-size: 3.8rem;
  text-transform: capitalize;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .section_heading {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  .section_heading {
    text-align: left;
  }
}

.container, .container-fluid {
  padding-top: 75px;
  padding-bottom: 75px;
}
@media only screen and (min-width: 768px) {
  .container, .container-fluid {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .container, .container-fluid {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
@media only screen and (min-width: 1200px) {
  .container, .container-fluid {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
@media only screen and (min-width: 1400px) {
  .container, .container-fluid {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.para, .para_bold {
  font-family: LatoLight, LatoRegular;
  font-size: 1.2rem;
  text-transform: normal;
}

.para_bold {
  font-weight: bold;
}

.btn_wrapper {
  text-align: center;
}

.btn_wrapper.cmt {
  margin-top: 50px;
}

.btn {
  font-family: LatoBold;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 50px;
  background-image: linear-gradient(145deg, #fba419 0%, #2844bd 100%);
  color: white;
  border: none;
}
.btn:hover {
  color: white !important;
}

/*# sourceMappingURL=style.css.map */
