#main {
    .container {
        .wrapper {
            // common style 
            h1, h6, .para {
                color: white;
            }
            text-align: center;
            .section_dis {
                @include fonts(LatoBold, 3rem, capitalize);
            }
            // btn 
            .btn_wrapper {
                margin-top: 80px;
                .btn {
                    background-image: initial;
                    background-color: white;
                    color: black;
                    &:hover {
                        color: black!important;
                    }
                }
            }
        }
    }
}
