#team_mate_highlight {
    @include resp($xxl) {
        position: relative;
        margin-top: 100px;
    }
    .container {
        // aritcle style
        @include padX(0, 100px);
        @include resp ($lg) {
            padding-top: 80px;
        }
        @include resp ($xxl) {
            @include padX (0px!important, 0px!important);
            margin-bottom: 100px;
        }
        article {
            h3,
            h1,
            .para {
                text-align: center;
                @include resp($xl) {
                    text-align: left;
                }
            }
            h3.para_bold {
                @include fonts(LatoBold, 1.5rem, capitalize);
            }
            .section_heading {
                margin-top: 105px;
                @include resp($lg) {
                    margin-top: 10px;
                }
            }

            // skills list progress bar
            .progress_wrapper {
                .progress_container {
                    .progress_title {
                        @include fonts(LatoMedium, 1.6rem, capitalize);
                        text-align: left;
                    }
                    .progress-bar {
                        background-color: transparent;
                        background-image: $gradient;
                        border-radius: 25px;
                    }
                }
            }
        }
        // highlight image style
        div.highlight {
            margin-top: 55px!important;
            @include resp ($sm) {
                margin-top: 80px!important;
            } 
            @include resp ($lg) {
                margin-top: 0px!important;
            }
            img {
            }
        }

        // discription style
        .discription {
            @include resp ($sm) {
                margin-top: 80px!important;
            }
            // style
            h3,
            .para {
                color: white;
            }
            background-image: $gradient;
            h3 {
                @include fonts(
                    unquote("'LatoMedium', 'LatoLight'"),
                    2rem,
                    capitalize
                );
            }
            // social media list
            .social_media {
                display: flex;
                flex-flow: row wrap;
                @include resp($xl) {
                    width: 50%;
                }
                a {
                    color: transparent;
                    &:first-child {
                        &::before {
                            margin-left: 0px;
                        }
                    }
                    span {
                        &::before {
                            font-size: 3rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    // floating container style
    .floating_container {
        position: absolute;
        right: 0px;
        top: 0px;
        width: calc(35% - 175px);
        background-image: $gradient;
        height: 100%;
        .row {
            background-image: none;
            .social_media {
                width: 100%;
                margin-top: 80%;
                @include resp ($xxl) {
                    margin-top: 70%;
                }
            }
        }
    }
}
