#we_are_creative {
    background: url("../img/A_letter.png") no-repeat center bottom;
    background-size: 450px;
    background-position: center center;
    @include resp($lg) {
        background-size: 600px;
        background-position: center bottom;
    }
    .container {
        @include padX(0px, 0px);
        @include resp($lg) {
            padding-top: 50px;
        }
        // common style
        .para,
        .section_heading {
            mix-blend-mode: difference;
            color: white;
            @include resp($lg) {
                mix-blend-mode: initial;
                color: #212529;
            }
        }

        padding-bottom: 65px;

        .texts {
            .btn_wrapper {
                text-align: center;
                @include resp ($lg) {
                    text-align: left;
                }
            }
        }

        .comment {
            margin-top: 65px;
            position: relative;
            &::before {
                content: "“";
                font-family: Icons;
                position: absolute;
                font-size: 17rem;
                line-height: 0px;
                left: -110px;
                top: 40px;
                display: none;
                @include resp ($lg) {
                    display: block;
                }
            }
            // responsive
            @include resp($lg) {
                margin-top: 0px;
            }
        }
    }
}
