@import "fonts";
@import "mixinVariable";
@import "header";
@import "main";
@import "articleList";
@import "wearecreative";
@import "amazingBeauties";
@import "serviceWeProvide";
@import "perfectTeam";
@import "teamMateHighlight";
@import "pricingSection";
@import "getInTouch";



#head_main_wrapper {
    background-image: $gradient;
}

a {
    font-family: LatoBold;
    text-transform: uppercase;
    font-size: 1rem;
}

.section_heading {
    @include fonts(Bernadette, 3.8rem, capitalize);
    @include resp($lg) {
        font-size: 4.3rem;
    }
    text-align: center;
    // responsive
    @include resp($lg) {
        text-align: left;
    }
}

.container,
.container-fluid {
    @include padX(75px, 75px);
    // responsive
    @include resp($md) {
        @include padX(90px, 90px);
    }
    @include resp($lg) {
        @include padX(110px, 110px);
    }
    @include resp($xl) {
        @include padX(130px, 130px);
    }
    @include resp($xxl) {
        @include padX(160px, 160px);
    }
}

.para {
    @include fonts((LatoLight, LatoRegular), 1.2rem, normal);
}
.para_bold {
    @extend .para;
    font-weight: bold;
}

.btn_wrapper {
    text-align: center;
}
.btn_wrapper.cmt {
    margin-top: 50px;
}

.btn {
    @include fonts(LatoBold, 1.1rem, uppercase);
    padding: 12px 30px;
    border-radius: 50px;
    background-image: $gradient;
    color: white;
    border: none;
    &:hover {
        color: white !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.para,
.btn_wrapper {
    text-align: center;
    @include resp($md) {
        text-align: left;
    }
}
